:root {
    --color-text-header: white;
    --color-text-header-hover: black;
    --coler-navbar: #222222;
}

.logo img {
    width: 40px;
    margin-left: 20px;
}

.toggle {
    width: 100%;
    height: 40px;
    background-color: var(--color-text-header-hover);
}

#button {

    border: none;
    background: none;
    outline: none;
    /* display: none; */
}

#button .fa-bars {
    font-size: 35px;
    margin-left: 5px;
}

/*      navbar */
.navbar {
    width: 100%;
    background-color: var(--coler-navbar);
    display: flex;
    position: fixed;
    flex-wrap: 1000px;
    z-index: 2;
    top: 0;
    flex-wrap: nowrap;
}

.menu_Sum {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.icon_Login {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin: 0;
}

li {
    display: flex;
    height: 100%;
    background-color: var(--coler-navbar);
    align-items: center;
}

li:hover {
    background-color: white;
    color: black;
}

.order_Online {
    border: 1px solid white;
}

.menu_Sum li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px 30px;
}


.img_text {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.img_text .img {

    width: 1290px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.img {
    position: absolute;
}

.img img {
    width: 95%;
    animation-name: slide;
    animation-duration: 4s;
}

.text {
    width: 100%;
    z-index: 1;
    top: 200px;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text h1 {
    margin-top: 10px;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 0px 2px 6px black;
}

.text h2 {
    font-size: 38px;
    font-family: 'Script', cursive;
    text-shadow: 0px 1px 4px black;
}

.text .oder {
    width: 100%;
    margin-top: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text .oder:hover a h3 {

    background-color: white;
}

.oder>a>h3 {
    width: 150px;
    height: 40px;
    align-items: center;
    border: 1px solid white;
    display: flex;
}
.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../image/banner\ beefsteak.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
}
.hero-header img {
    animation: imgRotate 50s linear infinite;
}
.hero-header .img-fluid {
    /* max-width: 50%; */
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

.row-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-primary {
    color: red;
    background-color: aqua;
}



/* Phần thân Body */
.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

/* container - row  */
.container .row {
    /* margin-top: 200; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.row {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('font/DancingScript.ttf') format('truetype');
}

.row .col-lg-3 {
    width: 100%;
    height: 400px;
    margin-top: 15px;
}

.item-card {
    transition: transform 0.3s ease 0s;
}

/* card */
.body_column1 {
    width: 100%;
    height: 100%;
    background-image: url(../image/dinner.jpg);
    background-size: 250px 400px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.body_column1:hover .layer {
    display: block;
    transition: 3s ease;
}

.body_column1:hover .text_food {
    top: 40%;
    font-size: 38px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.layer {
    height: 100%;
    background-image: linear-gradient(360deg, #EA2027, rgba(255, 0, 0, 0));
    opacity: 35%;
    display: none;
}

.text_food {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 200px;
    text-shadow: 2px 1px 3px black;
}

.body_column2 {
    width: 100%;
    height: 100%;
    background-image: url(../image/luncher.jpg);
    background-size: 250px 400px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.body_column2:hover .layer {
    display: block;
    transition: 3s ease;
}

.body_column2:hover .text_food {
    top: 40%;
    font-size: 38px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.body_column3 {
    width: 100%;
    height: 100%;
    background-image: url(../image/desserts.jpg);
    background-size: 250px 400px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.body_column3:hover .layer {
    display: block;
    transition: 3s ease;
}

.body_column3:hover .text_food {
    top: 40%;
    font-size: 38px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.body_column4 {
    width: 100%;
    height: 100%;
    background-image: url(../image/drinks.jpg);
    background-size: 250px 400px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.body_column4:hover .layer {
    display: block;
    transition: 3s ease;
}

.body_column4:hover .text_food {
    top: 40%;
    font-size: 38px;
    font-weight: bold;
    transition: all 0.5s ease;
}

/* restaurant-space */
.restaurant-space {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
}

.content-restaurant {
    width: 450px;
}

.title-restaurant{
    width: 450px;
    background-color: #8d8d8d;
    text-align: center;
}

.text-p{
    width: 450px;
    padding-left: 20px;
}

.image-All {
    width: 280px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slide {
    display: flex;
    width: 400%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: slide 8s ease infinite ;
}

@keyframes slide {
    0% {
        left: 0;
    }

    25%{
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    100%{
        left: 0;
    }
}
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}



